/*=== DESKTOP ======================================================================*/
body{
	overflow: hidden;
}
/*=== Conteúdo das páginas =============================*/
.pagina-wrap{
	height: 100vh;	
}

/* Cria margens no conteúdo da página*/
.pagina-content{
	position: absolute;
	width: 1200px;
	height: 90vh;
}

/* Idem - para telas laterais */
.pagina-content-lateral{
	position: absolute;
	width: 100%;
	height: 90vh;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); /* centraliza horz e vert */
}

/* Layer com a sombra no final da pg */
.sombra-layer{
	height: 100vh;
}

/* setas */
.arrow-nav{
	display: inline-block;
	width: 40%;
	height: 90px;
	background-size: 100% auto;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
}
.arrow-left{
	background-image: url('../images/icons/left.png');
}
.arrow-right{
	background-image: url('../images/icons/right.png');
}

/*==== PÁGINAS LATERAIS ==============*/ /* Apenas na versão desktop */
/* navegação horizontal */
.nav-x.sub-nav-x{
	left: 50%;
	top: 100px;
}
.nav-x.title-nav-x{
	top: 150px;
}
.nav-x-center.sub-nav-x{
	transform: translateX(-105%);
}
.nav-x-right.sub-nav-x{
	transform: translateX(5%);
}
.nav-x-left.sub-nav-x{
	transform: translateX(5%);
}

/* Engloba todas as pgs - left+cent+right */
.container-laterais{
	position: absolute;
	width: 100%;
	height: 100%;
}

/* Uma pg apenas */
.lateral{
	position: absolute;
	width: 100%;
	height: 100%;
	display: inline-block;
	transition: 1s all ease;
}

/* Alinha laterais horizontalmente */
.lateral-align-horzt{
	width: 850px;
}
/* Conteúdo da pg central */
.content-lateral-center{
	width: 600px;
	display: inline-block;
	margin: auto;
}

/* Posição das laterais */
.lateral-left{
	left: -100%;
	z-index: 1000;
	display: none;
}
.lateral-center{
	left: 0%;
}
.lateral-right{
	left: 100%;
	display: none;
}	


/*==== PÁGINA INICIAL ================*/
/* Logo + social links */
.logo-wrap{
	position: relative;
	width: 100%;
	top: 50%;
	height: 470px;
	transform: translateY(-60%);
	text-align: center;
}
/* Logo OBEC */
.logo{
	width: 750px;
	height: auto;
	margin: auto;
}

/* Menu de navegação */
.menu-inicio{
	position: absolute;
	width: 100%;
	bottom: 50px;
	text-align: center;
}
.menu-opt li{
	letter-spacing: 12px;
	font-size: 14pt;
	line-height: 20px;
}

/*==== SOBRE ================*/
/* Titulos seções */
.titulo-home{
	width: 135px;
	height: 32px;
	margin-top: 35px;
}
/* Info */
.texto-sobre{
	padding-top: 140px;
}
.video-sobre{
	padding: 20px 0px;
	height: 320px;
}

/*=== PROJETOS ================*/
/* Info */
.texto-projetos{
	padding-top: 150px;
}
.info-projetos{
	width: 360px;
}

/*=== ACERVO ================*/
/* Info */
.texto-acervo{
	padding-top: 160px;
}
.info-acervo{
	width: 360px;
}
.video-content{
	width: 500px;
	height: 285px;
	margin: 0px auto 50px auto;
	transition: .5s all ease;
}
/* container das publicações visíveis de cada projeto*/
.wrap-pub{
	width: 680px;
}
/* container de todas as publicações - visíveis ou não */
.container-pub{
	min-width: 680px;
}
.container-pub.opened{
	height: 300px;
}
.publicacao-content.opened{
	width: auto !important;
}
/* informações das publicações */
.pub-content-text{
	width: 470px;
	font-size: 13pt;
	padding-left: 25px;
}
.pub-titulo{
	padding-bottom: 15px;
	font-size: 16pt;
}
/* botao de voltar/download */
.pub-button{
	width: 165px;
	margin: 20px 10px 20px 0px;
	padding-left: 8px;
	font-size: 10pt;
	letter-spacing: 8px;
}
/*=== Layout responsivo  ======================*/
/*=== min-width: 992px; ==============================*/
@media only screen and (max-width: 1199px){

	/* Conteúdo da página */
	.pagina-content{
		width: 700px;
		height: 100%;
	}

	/* Logo */
	.logo{
		width: 650px;
	}
	
	/* Menu */
	.menu-opt li{
		letter-spacing: 5px;
		font-size: 13pt;
		padding: 5px 4px;
	}

	/* setas */
	.arrow-nav{
		height: 85px;
	}

	.texto-sobre{
		padding-top: 175px;
	}
}

/*=== min-width: 768px; ==============================*/
@media only screen and (max-width: 991px){

	/* Conteúdo da página */
	.pagina-content{
		width: 650px;
		height: 100%;
	}

	/* Logo */
	.logo-wrap{
		height: 300px;
	}
	.logo{
		width: 400px;
	}

	/* Menu */
	.menu-inicio{
		bottom: 0px;
	}

	/* parceiros */
	.lateral-align-horzt{
		width: 700px;
	}

	/* acervo -> publicacoes */
	.wrap-pub{
		width: 510px;
	}
	.container-pub{
		min-width: 510px;
	}
	/* informações das publicações */
	.pub-content-text{
		width: 285px;
		font-size: 10pt;
	}
	.pub-titulo{
		padding-bottom: 10px;
		font-size: 11pt;
	}
	/* botao de voltar/download */
	.pub-button{
		width: 122px;
		margin: 20px 5px 0px 0px;
		padding-left: 3px;
		font-size: 9pt;
		letter-spacing: 3px;
	}
}

@media only screen and (min-width: 768px) and (max-height: 1100px){
	
	/* laterais */
	.content-lateral-center{
		width: 680px;
	}
	.lateral-align-vert-right, .lateral-align-vert-left{
		margin-top: 80px;
	}
	.nav-x-center{
		top: 130px;
	}
	.nav-x-right, .nav-x-left{
		top: 180px;
	}

	/* sobre */
	.texto-sobre{
		padding-top: 175px;
		font-size: 13pt;
	}
	.info-sobre{
		vertical-align: top;
		width: 60%;
		display: inline-block;
	}
	.video-sobre{
		vertical-align: top;
		width: 39%;
		height: 300px;
		display: inline-block;
		padding: 5px 0px 5px 20px;
	}

	/* projetos */
	.info-projetos{
		margin-top: 20px;
		width: 660px;
	}
	/* acervo */
	.info-acervo{
		margin-top: 20px;
		width: 530px;
	}
}
@media only screen and (min-width: 992px) and (max-height: 1100px){
	.content-lateral-center{
		width: 800px;
	}
	/* projetos */
	.info-projetos{
		margin-top: 35px;
		width: 750px;
	}
	/* acervo */
	.info-acervo{
		margin-top: 35px;
		width: 750px;
	}
}

@media only screen and (min-width: 1200px) and (max-height: 1100px){
	.content-lateral-center{
		width: 1000px;
	}

	/* sobre */
	.info-sobre{
		vertical-align: top;
		width: 48%;
		display: inline-block;
	}
	.video-sobre{
		vertical-align: top;
		width: 48%;
		height: 280px;
		display: inline-block;
		padding: 5px 20px;
	}

	/* projetos */
	.info-projetos{
		margin-top: 20px;
		width: 700px;
	}

	/* acervo */
	.info-acervo{
		margin-top: 20px;
		width: 700px;
	}
}
@media only screen and (min-height: 900px) and (max-height: 1100px){
	/* projetos */
	.info-projetos{
		margin-top: 20px;
		width: 530px;
	}

	/* acervo */
	.info-acervo{
		margin-top: 20px;
		width: 530px;
	}
}
@media only screen and (min-height: 720px) and (max-height: 768px){
	.logo{
		width: 550px;
	}
	.logo-wrap{
		height: 360px;
	}

	.texto-sobre{
		padding-top: 180px;
		font-size: 12pt;
	}
	.video-sobre{
		height: 225px;
	}
	.menu-inicio{
		bottom: 5px;
	}
}
@media only screen and (max-width: 992px) and (min-height: 720px){
	.menu-capa{
		bottom: 40px;
	}
}
@media only screen and (max-height: 780px){

}