/*=== MOBILE ======================================================================*/

/* Idioma */
.lang-container{
	position: absolute;
	right: 5px;
	margin-top: 0px;
	margin-right: 0px;
	text-align: right;
}
.lang-icon{
	width: 55px;
	height: 25px;
	font-size: 10pt;
	line-height: 21px;
	padding-left: 11px;
	text-align: center;
}


/*=== Conteúdo das páginas =============================*/
.inicio-wrap, .sobre-wrap, .projetos-wrap, .acervo-wrap, .agenda-wrap{
	background-attachment: fixed;
}
#pagina-inicio{
	display: block;
	height: 100vh;
	min-height: 600px;	
}
#pagina-projetos, #pagina-acervo, #pagina-agenda{
	height: 100vh;	
}
#pagina-sobre{
	height: 1220px;
}
#pagina-projetos{
	height: 1185px;
}
#pagina-acervo{
	height: 1085px;
}
.sombra-layer, .pagina-wrap{
	height: 100%;
}
.pagina-content{
	position: relative;
	width: 400px;
	height: auto;
}
/* Laterais */
.lateral{
	height: 100vh;
}
.container-laterais{
	position: absolute;
	width: 100%;
	height: 100vh;
}
.pagina-content-lateral{
	position: relative;
	width: 400px;
	height: auto;
	margin: 50px auto;
}
.titulo-lat{
	width: 100%;
}

/* Alinha lateral verticalmente */
.lateral-align-vert-left{
	height: 65vh;
	margin-top: 150px;
	transform: none;
	top: 0px;
}
.lateral-align-vert-right{
	height: 65vh;
	margin-top: 150px;
	transform: none;
	top: 0px;
}

/* Navegação */
.nav-x-center{
	top: 140px;
	width: 400px;
}
.nav-x-left,.nav-x-right{
	width: 190px;
	top: 190px;
}
.right-button .titulo-lat, .left-button .titulo-lat{
	font-size: 9pt;
	letter-spacing: 9px;
	padding-left: 9px;
}
.nav-x-left{
	left: 50%;
	transform: translateX(-105%);
}
.nav-x-right{
	left: 50%;
	transform: translateX(5%);
}
.nav-x.sub-nav-x{
	top: 90px;
	width: 190px;
}
.nav-x.title-nav-x{
	transform: translateX(-50%);
	top: 140px;
	width: 400px;
}

/*==== PÁGINA INICIAL ================*/
/* Logo + social links */
.logo-wrap{
	position: relative;
	width: 100%;
	text-align: center;
}
/* Logo OBEC */
.logo{
	width: 370px;
	height: auto;
	margin: auto;
}

/* Menu de navegação */
.menu-inicio{
	position: relative;
	width: 100%;
	bottom: 0px;
	text-align: center;
}
.menu-opt{
	padding-top: 30px;
}
.menu-opt li{
	letter-spacing: 7px;
	font-size: 13pt;
	display: block;
}
.menu-icon{
	display: none;
}
/*==== SOBRE ================*/
/* Titulos seções */
.titulo-home{
	width: 100%;
	max-width: 295px;
	height: 32px;
	margin-top: 35px;
}
.lateral-left, .lateral-right{
	display: none;
}
/* Info */
.texto-sobre{
	padding-top: 125px;
}
.video-sobre{
	padding: 20px 0px;
	height: 265px;
}
/*=== PARCEIROS ==================*/
.parceiros-content{
	padding: 25px 0px 0px 0px;
}
.logo-img{
	width: 170px;
	padding: 10px;
}
/*=== EQUIPE ======================*/
.equipe-pessoa{
	width: 220px;
}
.foto-pessoa{
	margin: auto;
}
.nome-pessoa, .nome-instituicao, .link-curriculo{
	text-align: center;
}
/*=== PROJETOS ============*/
.texto-projetos{
	padding-top: 135px;
	padding-bottom: 20px;
}
.pesquisa-container{
	width: 65%;
}
.titulo-projeto{
	font-size: 12pt;
}
.descricao-projeto{
	font-size: 11pt;
	line-height: 24px;
	letter-spacing: 0px;
}
/*=== ACERVO ============*/
.texto-acervo{
	padding-top: 135px;
	padding-bottom: 20px;
}
.video-content{
	width: 290px;
	height: 160px;
	margin: 0px auto 50px auto;
	transition: .5s all ease;
}
/* container das publicações visíveis de cada projeto*/
.wrap-pub{
	width: 340px;
}
/* container de todas as publicações - visíveis ou não */
.container-pub{
	min-width: 340px;
}
.container-pub.opened{
	height: auto;
}
/* conteudo */
.publicacao-content.opened{
	width: 340px !important;
}
/* informações das publicações */
.pub-content-text{
	width: 305px;
	font-size: 11pt;
	padding-top: 25px;
}
.pub-titulo{
	padding-bottom: 1px;
	font-size: 14pt;
}
/* botao de voltar/download */
.pub-button{
	width: 145px;
	margin: 20px 5px 20px 0px;
	padding-left: 8px;
	font-size: 8pt;
	letter-spacing: 7px;
}
/*=== Layout responsivo ======================*/
/*=== min-width: 300px; ==============================*/
@media only screen and (max-width: 479px){
	/* conteúdo da pg */
	.pagina-content{
		width: 300px;
	}

	/* inicio */
	.logo{
		width: 300px;
	}
	.social-icon{
		width: 40px;
		height: 55px;
		margin-left: 10px;
	}
	/* laterais */
	.pagina-content-lateral{
		width: 300px;
	}
	.nav-x-center{
		width: 300px;
	}
	.nav-x-left,.nav-x-right{
		width: 140px;
		top: 190px;
	}
	.nav-x.sub-nav-x{
		width: 140px;
	}
	.nav-x.title-nav-x{
		width: 300px;
	}
	.right-button .titulo-lat, .left-button .titulo-lat{
		letter-spacing: 4px;
		padding-left: 4px;
	}
	/* sobre */
	#pagina-sobre{
		height: 1450px;
	}

	/* projetos*/
	#pagina-projetos{
		height: 1365px;
	}

	/* acervo */
	#pagina-acervo{
		height: 1185px;
	}
	.wrap-pub{
		width: 170px;
	}
	.wrap-pub.opened{
		width: 240px;
	}
	.publicacao-content.opened{
		width: 240px !important;
	}
	.pub-content-text{
		width: 220px;
	}
	.container-pub{
		min-width: 170px;
	}
	.pub-button{
		width: 220px;
		margin: 10px 5px 0px 0px;
	}
}